@import "tailwindcss";

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

html, body {
  min-height: 100%;
  background: linear-gradient(to bottom right, #d6d3d1, #78716c, #1c1917);
  background-attachment: fixed;
}